@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: yellow;
}
a {
  text-decoration: none;
}
p {
  color: red;
  font-family: 'Lora', 'Georgia', serif;
}
li {
  list-style: none;
}
#top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #000000;

  height: 5rem;
  width: 100%;
  padding: 0 2.5rem;
}
#top-header nav {
    display: flex;
    align-items: center;
  }
#top-header #top-logo {
    width: 100px;
  }
#top-header a {
    color: #FFFFFF;
    font-weight: 700;
  }
#top-header .small-header-link {
    font-size: .8em;
  }
#top-header a:hover {
    color: rgba(255, 255, 255, .6);
  }
#top-header ul {
    display: flex;
  }
#top-header li {
    margin-left: 1rem;
  }
#top-header .header-social-icon {
    margin: 0 0 0 1rem;
  }

