@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
a {
  text-decoration: none;
  font-weight: 600;
}
h1 {
  font-size: 4em;
  line-height: 1.1em;
}
h2 {
  font-size: 1.8em;
}
p {
  font-family: 'Lora', 'Georgia', serif;
  font-size: 1.08em;
  line-height: 1.6em;
  margin: 2rem 0;
}
li {
  list-style: none;
}
figcaption {
  color: #777777;
  font-size: .8em;
  margin: .7rem 0;
}
#top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #000000;

  height: 5rem;
  width: 100%;
  padding: 0 2.5rem;

  position: fixed;
  top: 0;
  transition: top 0.3s;
  z-index: 999;
}
#top-header img:hover {
    opacity: 0.6;
  }
#top-header nav {
    display: flex;
    align-items: center;
  }
#top-header #top-logo {
    width: 100px;
  }
#top-header a {
    color: #FFFFFF;
    font-weight: 700;
  }
#top-header .small-header-link {
    font-size: .8em;
  }
#top-header a:hover {
    color: rgba(255, 255, 255, .6);
  }
#top-header ul {
    display: flex;
  }
#top-header li {
    margin-left: 1rem;
  }
#top-header .header-social-icon {
    margin: 0 0 0 1rem;
  }
main {
  padding: 2.5rem 8rem;
  margin: 5rem 0 0;
}
main header {
    border-top: 3px solid black;
    padding: 1rem 0 2rem 0;

  }
main header #author {
      font-size: .8em;
      position: relative;
      bottom: 1.25rem;
    }
main header .author-bar {
      color: #aaaaaa;
      margin: 0 .6rem;
    }
main header h1 {
      margin: 1.5rem 0;
    }
main header h2 {
      margin-bottom: 1.5rem;
    }
.social-share {
  display: flex;
}
.social-share div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: pink;
    width: 9.5rem;
    height: 1.75rem;
    padding: .3rem .7rem;
    margin-right: .7rem;
  }
.social-share div:nth-child(1) {
    background-color: #3965a0;
  }
.social-share div:nth-child(2) {
    background-color: #4db6ee;
  }
.social-share span {
    color: white;
    font-size: .7em;
    font-weight: 600;
  }
.social-share img {
    height: 1.2rem;
  }
article {
  display: grid;
  grid-template-columns: 20% 20% 20% 10% 30%;
}
article header {
    grid-column-start: 1;
    grid-column-end: 6;
  }
article #article-grid {
    grid-column-start: 1;
    grid-column-end: 4;
  }
article aside {
    grid-column-start: 5;
    grid-column-end: 6;
  }
article aside a {
      color: #000000;
      font-family: Helvetica, Arial, sans-serif;

      display: flex;
      flex-wrap: wrap;
    }
article aside section {
      margin: .5rem 0 0;
      border-top: 3px solid black;
      padding: .5rem 0 0;
    }
article aside .square-aside-image {
      height: 92px;
      width: 92px;
      overflow: hidden;

      margin: 0 .4rem 0 0;
    }
article aside .square-aside-image img {
        height: 100%;
      }
article figure img {
      width: 100%;
    }
article footer #footer-logo {
      width: 3.5rem;
    }
article footer .social-share {
      margin: 1.2rem 0;
    }
article #tags {
    font-size: .8em;
    font-weight: 900;
  }
#footer {
  margin-top: 2rem;
  border-top: 3px solid black;
  padding: 1rem 0 2rem 0;  
}
